= form_for @article, remote: true, html: { role: 'form', class: 'form-horizontal' } do |f|
  .form-group
    #title_section.row
      .col-md-10
        = f.text_field :title, placeholder: 'Article Title...', class: 'form-control'
      .col-md-2.text-right
        = f.submit class: 'btn btn-primary'

  .form-group
    .col-md-12
      #text_section.col-md-12
        = f.text_area :text, class: 'form-control'

:javascript
  $(document).on('ready', function() {
    form_redactor();
  });

  $(document).on('page:load', function() {
    form_redactor();
  });