- if @article.errors.full_messages.any?
  - @article.errors.full_messages.each do |error|
    .error
      = error

= form_for @article, remote: true do |f|
  .form_field
    = f.text_field :title, placeholder: 'Article Title...'

  .form_field
    = f.text_area :text, class: 'tinymce'

:javascript
  $('#article_title').keyup(function(event) {
    changeSaveButton(event.target);
  });