- if @article.errors.full_messages.any?
  - @article.errors.full_messages.each do |error|
    .error
      = error

= form_for @article, remote: true, html: { role: 'form', class: 'col-xs-12' } do |f|
  .form-group
    = f.text_field :title, placeholder: 'Article Title...', class: 'form-control'

  .form-group
    = f.text_area :text, class: 'tinymce form-control'

:javascript
  $('#article_title').keyup(function(event) {
    changeSaveButton(event.target);
  });