- if @users.presence
  %table
    %tr
      %th
        Email
      %th
        Actions

    = render @users

.add_user
  = link_to action_button('Add User', 'fa-plus'), new_user_path, class: 'button'