#articles {
  padding-top: 10px;

  form {
    width: 100%;
  }

  .edit_button {
    .fa, span.button_text {
      color: #858585;
    }
  }

  .article_content {
    padding-left: 20px;

    .buttons {
      display: inline-block;
      width: 15%;
      vertical-align: top;

      .action {
        margin-bottom: 5px;
        text-align: center;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          margin: 0;
          font-size: 12px;
          width: 75px;
          padding: 5px 10px;

          i, .button_text {
            vertical-align: middle;
            height: 13px;
          }
        }
      }
    }
  }
}