#articles {
  padding-top: 10px;

  form {
    width: 100%;
  }

  .article_container {
    width: 100%;

    .article_title {
      font-weight: bold;
      width: 90%;
      float: left;
    }

    .edit_button {
      width: 10%;
      float: left;
      margin: 3px 0 8px;

      .button {
        background-color: white;
        border: 3px solid #f5f5f5;
        padding: 5px 14px;
        margin: 0;
      }

      .fa, span.button_text {
        color: #858585;
      }
    }

    .article_content {
      padding-left: 20px;

      .article_text {
        display: inline-block;
        width: 90%;
        vertical-align: top;
      }

      .buttons {
        display: inline-block;
        width: 15%;
        vertical-align: top;

        .action {
          margin-bottom: 5px;
          text-align: center;

          &:last-child {
            margin-bottom: 0;
          }

          a {
            margin: 0;
            font-size: 12px;
            width: 75px;
            padding: 5px 10px;

            i, .button_text {
              vertical-align: middle;
              height: 13px;
            }
          }
        }
      }
    }
  }
}