#articles {
  padding-top: 10px;
  height: 100%;

  hr {
    margin: 5px 0;
  }

  form {
    height: 100%;

    #text_section {
      border: 1px solid #cccccc;
      border-radius: 4px;
      padding: 10px;
    }

    #article_content {
      padding-top: 5px;
    }
  }

  .edit_button {
    .fa, span.button_text {
      color: #858585;
    }
  }
}