html, body {
  padding: 0;
  margin: 0;
  font-family: "ProximaNova","Helvetica Neue","Arial",sans-serif;
  font-weight: 300;
  height: 100%;
}

html {
  a {
    text-decoration: none;
    outline: none;

    i {
      margin-right: 6px;
    }
  }

  p {
    margin: 0;
  }

  #header {
    background-color: #1481e3;
    padding-top: 10px;
    padding-bottom: 10px;

    .header_wrapper {
      a {
        outline: 0;
      }

      .mobile_sign_out {
        .btn {
          padding: 0;

          .fa {
            font-size: 28px;
          }
        }

        ul.dropdown-menu {
          padding: 10px;

          li {
            a, span {
              color: #858585;
            }
          }
        }

        .btn-group.open .dropdown-toggle {
          box-shadow: none;
        }
      }

      .sign_out {
        text-align: right;

        .sign_in {
          border-right: 1px solid white;
        }

        .sign_in, .sign_up {
          padding: 0 15px;
        }

        .button_text {
          margin: 0;
        }

        span {
          color: #c3d4d4;
          font-size: 16px;
          margin-right: 20px;
        }

        a {
          color: white;
        }
      }

      .logo {
        color: white;

        .normal {
          display: inline-block;
          float: left;
          line-height: 50px;
          vertical-align: bottom;
          font-size: 20px;
          margin-right: 3px;
        }
      }

      a {
        font-size: 16px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  #content {
    margin-top: 10px;
    height: calc(100% - 90px);

    #content_wrapper {
      height: 100%;

      .mce-tinymce {
        margin-bottom: 16px;
      }

      #menu_helper.toggled {
        margin-left: calc(66% - 18px);
      }

      #main_menu.toggled {
        margin-left: calc(0% - 15px);
      }

      #main_menu {
        border-right: 2px solid #e4e4e4;
        height: 100%;
        z-index: 2;

        .add_article {
          margin: 10px 0;

          .fa, span.button_text {
            color: #858585;
          }
        }

        ul {
          list-style: none;
          padding: 0;
          text-align: center;

          li {
            margin-top: 7px;

            a {
              color: #3f3f3f;
              padding: 0;

              &:hover {
                text-decoration: underline;
              }
            }

            .article_link {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            .delete_article {
              .fa {
                vertical-align: middle;
                margin: 0;
              }
            }
          }
        }
      }

      #container {
        height: 100%;
        z-index: 1;

        #sessions, #registrations {
          width: 100%;
          padding-right: 20px;
          margin-top: 20px;

          h2 {
            padding: 0 !important;
            margin-bottom: 20px;
          }
        }

        .error {
          color: #ff0000;
          display: inline-block;
          margin-bottom: 5px;
        }

        form {
          .form_field {
            .form_back {
              float: right;
            }
          }

          .field_with_errors {
            input {
              border-color: #ff0000;
            }
          }
        }

        ul {
          list-style: none;
          margin: 0 0 20px;
        }
      }
    }
  }
}